<table cellpadding="0" cellspacing="0" border="0"width="100%">
    <thead>
        <tr>
            <th class="left">Order</th>
            <th class="left">Firstname</th>
            <th class="left">Last name</th>
            <th class="left">Identification</th>
            <th class="left">Offense</th>
            <th class="left">Entry_Date</th>
            <th class="left">Release_Date</th>
        </tr>
    </thead>
    <tbody>
        {% if instances.is_empty %}
        <tr><td><b>No records</b></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
        {% else %}
        {% for instance in instances %}  
        <tr>
            <td>{{forloop.counter}}</td>
            <td>{{instance.firstname}}</td>
            <td>{{instance.lastname}}</td>
            <td>{{instance.identification}}</td>
            <td>{{instance.crime}}</td>
            <td>{{instance.entry_date}}</td>
            <td>{{instance.release_date}}</td>
        </tr>
        {% endfor %}
        {% endif %}
    </tbody>
    <tfoot>
    </tfoot>
</table>