{% extends 'base1.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}
<div class="module">
  <div class="module-head">
    <h3>
        <span>Prisoner profile</span>
        <a href="../" class="icon-fullscreen pull-right bordero" style="padding:0 10px;border-radius: 25%;"></a>
    </h3>
    <span></span>
  </div>
  <div class="module-body">
    <h5>{{prisoner}}</h5><hr>
    <div class="btn-row row-fluid">
      <div class="span7">
        <div class="btn-row row-fluid">
          <div class="span4">
            <p>First Name <i class="pull-right"><i class="pull-right">:</i></i></p>
            <p>Last Name <i class="pull-right">:</i></p>
            <p>Email <i class="pull-right">:</i></p>
            <p>Identification <i class="pull-right">:</i></p>
            <p>Phone <i class="pull-right">:</i></p>
            <p>Gender <i class="pull-right">:</i></p>
            <p>Marital status <i class="pull-right">:</i></p>
            <p>Address <i class="pull-right">:</i></p>
            <p>Entry date <i class="pull-right">:</i></p>
            <p>Release date <i class="pull-right">:</i></p>
            <p>crime <i class="pull-right">:</i></p>
            <p>Status <i class="pull-right">:</i></p>
            <p>Cell No: <i class="pull-right">:</i></p>
          </div>
          <div class="span8">
            <p>{{prisoner.firstname}}</p>
            <p>{{prisoner.lastname}}</p>
            <p>{{prisoner.email}}</p>
            <p>{{prisoner.identification}}</p>
            <p>{{prisoner.phone}}</p>
            <p>{{prisoner.gender}}</p>
            <p>{{prisoner.marital_status}}</p>
            <p>{{prisoner.address}}</p>
            <p>{{prisoner.entry_date}}</p>
            <p>{{prisoner.release_date}}</p>
            <p>{{prisoner.crime}}</p>
            <p>{{prisoner.status}}</p>
            <p>{{prisoner.cell}}</p>
          </div>
        </div>
      </div>
      <div class="span4">
        <div style="text-align: center;">
          <p>
            <img src="{{prisoner.photo.url}}" style="width: 55%;">
          </p>
          <hr>
          <div class="btn-row">
            <div class="span6">
              <a class="btn btn-primary" href="{% url 'prisoner_update' prisoner.id %}">Edit</a>
            </div>
            <div class="span6">
              <a class="btn btn-danger modal_delete" data-toggle="modal" data-target="#deletemodal" data-url="{% url 'prisoner_delete' prisoner.id %}" >Delete</a>
            </div>  
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="deletemodal" tabindex="-1" role="dialog" aria-labelledby="deletemodalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm mymodal" role="document">
        
    </div>
</div><!-- /.delete modal -->
{% endblock %}
{% block script %}
<script src="{% static 'scripts/modal_delete.js' %}" type="text/javascript"></script>
{% endblock %}