<form method="post">
    {% csrf_token %}
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="deletemodalLabel">Release Form for {{prisoner.firstname}} {{prisoner.lastname}}</h5>
        </div>
        <div class="modal-body">
            <p>
                <div class="btn-row row-fluid">
      <div class="span7">
        <div class="btn-row row-fluid">
          <div class="span4">
            <p>First Name <i class="pull-right"><i class="pull-right">:</i></i></p>
            <p>Last Name <i class="pull-right">:</i></p>
            <p>Email <i class="pull-right">:</i></p>
            <p>Identification <i class="pull-right">:</i></p>
            <p>Phone <i class="pull-right">:</i></p>
            <p>Gender <i class="pull-right">:</i></p>
            <p>Marital status <i class="pull-right">:</i></p>
            <p>Address <i class="pull-right">:</i></p>
            <p>Entry date <i class="pull-right">:</i></p>
            <p>Release date <i class="pull-right">:</i></p>
            <p>crime <i class="pull-right">:</i></p>
            <p>Status <i class="pull-right">:</i></p>
            <p>Cell No: <i class="pull-right">:</i></p>
          </div>
          <div class="span8">
            <p>{{prisoner.firstname}}</p>
            <p>{{prisoner.lastname}}</p>
            <p>{{prisoner.email}}</p>
            <p>{{prisoner.identification}}</p>
            <p>{{prisoner.phone}}</p>
            <p>{{prisoner.gender}}</p>
            <p>{{prisoner.marital_status}}</p>
            <p>{{prisoner.address}}</p>
            <p>{{prisoner.entry_date}}</p>
            <p>{{prisoner.release_date}}</p>
            <p>{{prisoner.crime}}</p>
            <p>{{prisoner.status}}</p>
            <p>{{prisoner.cell}}</p>
          </div>
        </div>
      </div>
      <div class="span4">
        <div style="text-align: center;">
          <p>
            <img src="{{prisoner.photo.url}}" style="width: 55%;">
          </p>
          <hr>
        </div>
      </div>
    </div>
            </p>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            <button type="button" class="btn btn-primary" data-dismiss="modal">Print</button>
        </div>
    </div>
</form>