{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link type="text/css" href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
        <link type="text/css" href="{% static 'bootstrap/css/bootstrap-responsive.min.css' %}" rel="stylesheet">
        <link type="text/css" href="{% static 'css/theme.css' %}" rel="stylesheet">
        <link type="text/css" href="{% static 'css/columns.css' %}" rel="stylesheet">
        <link type="text/css" href="{% static 'css/forms.css' %}" rel="stylesheet">
        <link type="text/css" href="{% static 'images/icons/css/font-awesome.css' %}" rel="stylesheet">
        <link type="text/css" href="http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,400,600"rel='stylesheet'>
        <script src="{% static 'scripts/jquery-1.9.1.min.js' %}" type="text/javascript"></script>
        <style>
        </style>
        <style>
            .message {
                padding: 5px;
                border: 1px solid transparent;
                border-radius: 4px;
                }
            .message-success {
                color: #ffffff;
                background-color: #78ba00;
                border-color: #d6e9c6;
                }
            .message-warning {
                color: #ffffff;
                background-color: #f35327;
                border-color: #faebcc;
                }
        </style>  
    </head>
    <body>
        <div class="module">
            <div class="module-head">
                <h3>
                    <span>Prisoners report</span>
                </h3>
            </div>
            <div class="module-body table">
                <table cellpadding="0" cellspacing="0" border="0" class="datatable-1 table table-bordered table-striped	 display" width="100%">
                    <thead>
                        <tr>
                            <th>Order</th>
                            <th>Firstname</th>
                            <th>Last name</th>
                            <th>Identification</th>
                            <th>Offense</th>
                            <th>Entry_Date</th>
                            <th>Release_Date</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for prisoner in prisoners %}  
                        <tr>
                            <td>{{forloop.counter}}</td>
                            <td>{{prisoner.firstname}}</td>
                            <td>{{prisoner.lastname}}</td>
                            <td>{{prisoner.identification}}</td>
                            <td>{{prisoner.crime}}</td>
                            <td class="center">{{prisoner.entry_date}}</td>
                            <td class="center">{{prisoner.release_date}}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                    <tfoot>
                    </tfoot>
                </table>
            </div>
        </div><!--/.prisoners module-->
        <div class="modal fade" id="deletemodal" tabindex="-1" role="dialog" aria-labelledby="deletemodalLabel" aria-hidden="true">
            <div class="modal-dialog modal-sm mymodal" role="document">
                
            </div>
        </div><!-- /.delete modal -->
    </body>
    </html>
        