{% extends 'base1.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}
<div class="module">
    <div class="module-head">
      <h3>
          <span>Visitor details</span>
          <a href="../" class="icon-fullscreen pull-right bordero" style="padding:0 10px;border-radius: 25%;"></a>
      </h3>
    </div>
    <div class="module-body">
      <h5>{{visitor}}</h5><hr>
      <div class="btn-row row-fluid">
        <div class="span5">
          <div class="btn-row row-fluid">
            <div class="span4">
              <p>First Name <i class="pull-right"><i class="pull-right">:</i></i></p>
              <p>Last Name <i class="pull-right">:</i></p>
              <p>identification <i class="pull-right">:</i></p>
              <p>Phone <i class="pull-right">:</i></p>
              <p>Date <i class="pull-right">:</i></p>
              <p>Visit reason <i class="pull-right">:</i></p>
            </div>
            <div class="span8">
              <p>{{visitor.firstname}}</p>
              <p>{{visitor.lastname}}</p>
              <p>{{visitor.identification}}</p>
              <p>{{visitor.phone}}</p>
              <p>{{visitor.date}}</p>
              <p>{{visitor.reason}}</p>
            </div>
            </div>
        </div>
        <div class="span3">
          <div style="text-align: center;">
            <br><br><hr>
            <div class="btn-row">
              <div class="span6">
                <a class="btn btn-primary" href="{% url 'visitor_update' visitor.id %}">Edit</a>
              </div>
              <div class="span6">
                <a class="btn btn-danger modal_delete" data-toggle="modal" data-target="#deletemodal" data-url="{% url 'visitor_delete' visitor.id %}" >Delete</a>
              </div>  
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="deletemodal" tabindex="-1" role="dialog" aria-labelledby="deletemodalLabel" aria-hidden="true">
      <div class="modal-dialog modal-sm mymodal" role="document">
          
      </div>
  </div><!-- /.delete modal -->
  {% endblock %}
  {% block script %}
  <script src="{% static 'scripts/modal_delete.js' %}" type="text/javascript"></script>
  {% endblock %}