{% extends 'base1.html' %}
{% load crispy_forms_tags %}
{% block stylesheet %}
<style>
.stylo {
    margin:10px 0;
    font-size: 30px;
    color: #29b7d3;
}
</style>
{% endblock %}
{% block content %}
    <div class="btn-controls">
        <div class="btn-box-row row-fluid">
            
            {% if user.category.name == "Prison_Manager"  %}
            <a href="{% url 'prisoners' %}"class="btn-box big span4">
            {% else %}
            <a href="" class="btn-box big span4">
            {% endif %}
            <i class=" icon-group"></i><b class="count">{{prisoners.count}}</b>
                <p class="text-muted">
                    Total prisoners</p>
            </a>
            {% if user.category.name == "Prison_Manager" %}
            <a href="{% url 'users' %}" class="btn-box big span4"><i class="icon-user"></i><b class="count">{{users.count}}</b>
                <p class="text-muted">
                    Total Users</p>
            </a>
            {% endif %}
            <a href="#" class="btn-box big span4"><i class="icon-bolt"></i><b class="count">2023</b>
                <p class="text-muted">
                    ------</p>
            </a>
        </div>
        <div class="btn-box-row row-fluid">
            <div class="span8">
                <div class="row-fluid">
                    <div class="span12">
                        <a href="{% url 'crimes' %}" class="btn-box small span4"><i class="icon-suitcase"></i><b class="count">{{crimes.count}}</b><p class="text-muted">Offences</p></a>
                        <a href="{% url 'complaints' %}" class="btn-box small span4"><i class="icon-book"></i></i><b class="count">{{complaints.count}}</b><p class="text-muted">Complaints</p></a>
                        {% if user.category.name == "Prison_Manager" %}
                        <a href="{% url 'cells' %}" class="btn-box small span4"><i class="icon-table"></i><b class="count">{{cells.count}}</b><p class="text-muted">Cells</p></a>
                        {% else %}
                        <ul class="widget widget-usage unstyled span4">
                        <p class="pull-right">Gender</p>
                        <li>
                            <p>
                                Male <span class="pull-right small muted ">78%</span>
                            </p>
                            <div class="progress tight">
                                <div class="bar" data-val=78></div>
                            </div>
                        </li>
                        <li>
                            <p>
                                Female <span class="pull-right small muted">56%</span>
                            </p>
                            <div class="progress tight">
                                <div class="bar bar-success" data-val=67></div>
                            </div>
                        </li>
                    </ul> {% endif %}
                    </div>
                </div>
                {% if user.category.name == "Prison_Manager" %}
                <div class="row-fluid">
                    <div class="span12">
                        <a href="{% url 'transfers' %}" class="btn-box small span4"><i class="icon-random"></i><b class="count">{{transfers.count}}</b><p class="text-muted">Transfers</p></a>
                        <a href="{% url 'releases' %}" class="btn-box small span4"><i class="icon-bullhorn"></i><b class="count">{{releases|length}}</b><p class="text-muted">Releases</p></a>
                        <a href="{% url 'categorys' %}" class="btn-box small span4"><i class="icon-sort-down"></i><b class="count">{{categories.count}}</b><p class="text-muted">User categories</p></a>
                    </div>
                </div>
                {% endif %}
            </div>
            {% if user.category.name == "Prison_Manager" %}
            <ul class="widget widget-usage unstyled span4">
                    <p></p>
                <p class="pull-right">Gender</p>
                <li>
                    <p></p>
                    <p>
                        Male <span class="pull-right small muted ">78%</span>
                    </p>
                    <div class="progress tight">
                        <div class="bar" data-val=78></div>
                    </div>
                </li>
                <li>
                    <p>
                        Female <span class="pull-right small muted">56%</span>
                    </p>
                    <div class="progress tight">
                        <div class="bar bar-success" data-val=67></div>
                    </div>
                </li>
            </ul>
            {% endif %}
        </div>
    </div>
    <!--/#btn-controls end-->
{% endblock %}
{% block script %}
<script>
$('.count').each(function () {
    $(this).prop('Counter',0).animate({
        Counter: $(this).text()
        }, {
        duration: 3000,
        easing: 'swing',
        step: function (now) {
            $(this).text(Math.ceil(now));
        }
    });
});
</script>
<script>
    $('.bar').each(function(){
        var percent = $(this).data('val');
        $(this).css("width",percent+'%');
        $({animatedValue: 0}).animate({animatedValue: percent},{
            duration: 5000,
            step: function(){
                $(this).attr('percent', Math.floor(this.animatedValue) + '%');
            },
            complete: function(){
                $(this).attr('percent', Math.floor(this.animatedValue) + '%');
            }
        });
    });
</script>
{% endblock %}