{% load crispy_forms_tags %}
	<div class="modal fade" id="logoutmodal" tabindex="-1" role="dialog" aria-labelledby="logoutmodalLabel" aria-hidden="true">
		<!-- <div class="modal-dialog modal-sm" role="document"> -->
			<form method="post">
				{% csrf_token %}
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="logoutmodalLabel">Logout</h5>
					</div>
					<div class="modal-body">
						<p>
							Are you sure you want to logout this user: "{{request.user}}" ?
						</p>
						<input type="hidden" name="form" value="logout">
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
						<button type="submit" class="btn btn-primary">Confirm</button>
					</div>
				</div>
			</form>
		<!-- </div> -->
	</div>
	<!-- end modal small -->
